<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="Database"
                name="db"
                dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
                connectionString="Data Source=auth-logs.db"
                commandText="INSERT INTO AuthLogs (Email, UserId, ActionType, CallerMemberName, CallerFilePath, CallerLineNumber, Timestamp) VALUES (@Email, @UserId, @ActionType, @CallerMemberName, @CallerFilePath, @CallerLineNumber, @Timestamp)">
            <parameter name="@Email" layout="${event-properties:Email}" />
            <parameter name="@UserId" layout="${event-properties:UserId}" />
            <parameter name="@ActionType" layout="${event-properties:ActionType}" />
            <parameter name="@CallerMemberName" layout="${event-properties:CallerMemberName}" />
            <parameter name="@CallerFilePath" layout="${event-properties:CallerFilePath}" />
            <parameter name="@CallerLineNumber" layout="${event-properties:CallerLineNumber}" />
            <parameter name="@Timestamp" layout="${longdate}" />
        </target>
        <target xsi:type="Console" name="console"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console,db" />
    </rules>
</nlog>
